@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/View.cshtml";
}

<div class="wrapper">
    @{Html.RenderAction("MainHeader", "Home"); }
    @{Html.RenderAction("Menu", "Home"); }
    @{Html.RenderAction("MainHome", "Home"); }
    @{Html.RenderAction("Footer", "Home"); }
</div>