<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Areas/admin/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Areas/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/Areas/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/admin/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="~/Areas/admin/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Areas/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Areas/admin/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Areas/admin/plugins/summernote/summernote-bs4.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    @RenderBody()
    <script src="~/Areas/admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/Areas/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Areas/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/admin/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Areas/admin/plugins/sparklines/sparkline.js"></script>
    <script src="~/Areas/admin/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Areas/admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/Areas/admin/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/Areas/admin/plugins/moment/moment.min.js"></script>
    <script src="~/Areas/admin/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Areas/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Areas/admin/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/Areas/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/Areas/admin/dist/js/adminlte.js"></script>
    <script src="~/Areas/admin/dist/js/pages/dashboard.js"></script>
    <script src="~/Areas/admin/dist/js/demo.js"></script>
</body>
</html>
