<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Play Boys</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="~/Content/Site/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/Site/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/Content/Site/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Site/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/Site/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Site/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/Site/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    @RenderBody()
    <script src="~/Content/Site/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Site/js/bootstrap.min.js"></script>
    <script src="~/Content/Site/js/jquery-ui.min.js"></script>
    <script src="~/Content/Site/js/jquery.countdown.min.js"></script>
    <script src="~/Content/Site/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/Site/js/jquery.zoom.min.js"></script>
    <script src="~/Content/Site/js/jquery.dd.min.js"></script>
    <script src="~/Content/Site/js/jquery.slicknav.js"></script>
    <script src="~/Content/Site/js/owl.carousel.min.js"></script>
    <script src="~/Content/Site/js/main.js"></script>
    <script src="~/Scripts/Location.js"></script>
</body>

</html>