@model IEnumerable<MutiShopDataContext.Model.LoaiSanPham>
@{
    var Id = Request.Cookies["infomation"];
    var checkId = "";
    if (Id != null)
    {
        checkId = Id.Value;
    }
}
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    doanvanphuc@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    0962190200
                </div>
            </div>
            <div class="ht-right">
                @if (checkId == "")
                {
                    <a href="~/Autenlt/DangNhap" class="login-panel"><i class="fa fa-user"></i>Đăng nhập</a>
                }
                else
                {
                    <a href="~/Acount" class="login-panel"><i class="fa fa-user"></i>Trang cá nhân</a>
                }
                <div class="lan-selector">
             
                </div>
                <div class="top-social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="ti-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="~/Content/Site/img/logo2.png" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                      
                        <form method="get" action="~/SanPham/DanhSachSanPham/">
                            <div class="input-group">
                                <input type="text" name="tuKhoa" placeholder="Sản phẩm bạn muốn tìm?">
                                <button type="submit"><i class="ti-search "></i></button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="heart-icon ">
                            <a href="#">
                                <i class="icon_heart_alt"></i>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a href="~/DatHang" class="giohang">
                                <i class="icon_bag_alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Location.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        async function LoadGioHang() {
                    await $.ajax({
                        method: "GET",
                url: result + "/DatHang/DanhSachDat",
                contentType: "application/json"
                    }).done(async function (data) {
                        console.log(data.length)
                $(".giohang").append('<span>' + data.length + '</span > ')
            });
                }
                LoadGioHang();
    </script>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>Shop thời trang</span>
                    <ul class="depart-hover">
                        @foreach (var item in Model)
                        {
                            <li class="active"><a href="~/SanPham/DanhSachSanPham/?loai=@item.Id">@item.TenLoai</a></li>

                        }
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li class=" "><a href="~/">Trang chủ</a></li>
                    <li><a href="~/SanPham/DanhSachSanPham">Sản phẩm</a></li>
                    <li>
                        <a href="#">Danh mục</a>
                        <ul class="dropdown">
                            <li><a href="~/SanPham/DanhSachSanPham/?danhmuc=1" role="menuitem" tabindex="-1">Thời trang nam</a></li>
                            <li><a href="~/SanPham/DanhSachSanPham/?danhmuc=3" role="menuitem" tabindex="-1">Thời trang nữ</a></li>
                            <!-- <li><a href="#">Kid's</a></li> -->
                        </ul>
                    </li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./contact.html">Liên hệ</a></li>
                    
                </ul>
            </nav>
            <div id="mobile-menu-wrap">
                <div class="slicknav_menu">
                    <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                        <ul>
                            <li class=""><a href="" role="menuitem">Trang chủ</a></li>
                            <li><a href="./shop.html" role="menuitem">Sản phẩm</a></li>
                            <li class="slicknav_collapsed slicknav_parent">
                                <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                    <a href="#">gggg</a>
                                    <span class="slicknav_arrow">►</span>
                                </a><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                    <li><a href="~/SanPham/DanhSachSanPham/?danhmuc=1" role="menuitem" tabindex="-1">Thời trang nam</a></li>
                                    <li><a href="~/SanPham/DanhSachSanPham/?danhmuc=3" role="menuitem" tabindex="-1">Thời trang nữ</a></li>
                                    <!-- <li><a href="#">Kid's</a></li> -->
                                </ul>
                            </li>
                            <li><a href="./blog.html" role="menuitem">Blog</a></li>
                            <li><a href="./contact.html" role="menuitem">Liên hệ</a></li>
                            <li class="slicknav_collapsed slicknav_parent">
                                <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                    <a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span>
                                </a><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                    <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                    <li><a href="./shopping-cart.html" role="menuitem" tabindex="-1">Shopping Cart</a></li>
                                    <li><a href="./check-out.html" role="menuitem" tabindex="-1">Checkout</a></li>
                                    <li><a href="./register.html" role="menuitem" tabindex="-1">Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

