<section class="hero-section">
    <div class="hero-items owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-2997px, 0px, 0px); transition: all 0s ease 0s; width: 8994px;">
                <div class="owl-item cloned" style="width: 1498.89px;">
                    <div class="single-hero-items set-bg" data-setbg="~../../Content/Site/img/hero-1.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h1>Play Boys</h1>
                                    <p>
                                        PlayBoys hướng tới các bạn trẻ có lối sống năng động, hiện đại, trẻ trung, thích trải nghiệm những điều mới, lạc quan từ bên trong tâm hồn, có phong cách sống lẫn Guu ăn mặc
                                    </p>
                                    <a href="~/SanPham/DanhSachSanPham" class="primary-btn">Xem ngay</a>
                                </div>
                            </div>
                            <div class="off-card">
                                <h2>Sale <span>50%</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1498.89px;">
                    <div class="single-hero-items set-bg" data-setbg="~../../Content/Site/img/hero-2.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h1>Play boys</h1>
                                    <p>
                                        PlayBoys hướng tới các bạn trẻ có lối sống năng động, hiện đại, trẻ trung, thích trải nghiệm những điều mới, lạc quan từ bên trong tâm hồn, có phong cách sống lẫn Guu ăn mặc
                                    </p>
                                    <a href="~/SanPham/DanhSachSanPham" class="primary-btn">Xem ngay</a>
                                </div>
                            </div>
                            <div class="off-card">
                                <h2>Sale <span>50%</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev"><i class="ti-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="ti-angle-right"></i></button>
        </div><div class="owl-dots disabled"></div>
    </div>
</section>
