<div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
    <div class="filter-widget">
        <h4 class="fw-title">Danh mục</h4>
        <ul class="filter-catagories">
            <li><a href="~/SanPham/DanhSachSanPham/?danhmuc=1">Nam</a></li>
            <li><a href="~/SanPham/DanhSachSanPham/?danhmuc=3">Nữ</a></li>
        </ul>
    </div>
    <div class="filter-widget">
        <h4 class="fw-title">Danh mục</h4>
        <ul class="filter-catagories">
            <li><a href="~/SanPham/DanhSachSanPham/?loaisanpham=1002">Quần jeans</a></li>
            <li><a href="~/SanPham/DanhSachSanPham/?loaisanpham=2003">Quần short</a></li>
            <li><a href="~/SanPham/DanhSachSanPham/?loaisanpham=2004">Áo sơ mi</a></li>
            <li><a href="~/SanPham/DanhSachSanPham/?loaisanpham=2005">Áo phông</a></li>
            <li><a href="~/SanPham/DanhSachSanPham/?loaisanpham=2006">Áo khoác</a></li>
            <li><a href="~/SanPham/DanhSachSanPham/?loaisanpham=2008">Áo len</a></li>
            <li><a href="~/SanPham/DanhSachSanPham/?loaisanpham=2010">Thu đông</a></li>
        </ul>
    </div>
   





</div>

