@model MutiShopDataContext.Model.Kho

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/View.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKho)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
